  <!-- Modal-body -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-body p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="d-none d-sm-block col-md-6 col-lg-6 col-xlg-6 sitecolor">
                        <div class="p-5 mt-5">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                            <!-- <div class="carousel-indicators">
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div> -->
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <div class="text-center text-white">
                                    <h3>As Employers</h3>
                                </div>
                                
                                <img src="../assets/images/employers.png" class="d-block w-100" alt="...">
                                <div class="text-center text-white mt-3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor erat augue eget in nec
                                         mattis. Pellentesque nec, quis quisque dignissim egestas risus lacus. Facilisi.</p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="text-center text-white">
                                    <h3>As Employee</h3>
                                </div>
                                <img src="../assets/images/employee.png" class="d-block w-100" alt="...">
                                <div class="text-center text-white mt-3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor erat augue eget in nec
                                         mattis. Pellentesque nec, quis quisque dignissim egestas risus lacus. Facilisi.</p>
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="text-center text-white">
                                    <h3>As Agents</h3>
                                </div>
                                <img src="../assets/images/agents.png" class="d-block w-100" alt="...">
                                <div class="text-center text-white mt-3">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor erat augue eget in nec
                                         mattis. Pellentesque nec, quis quisque dignissim egestas risus lacus. Facilisi.</p>
                                </div>
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xlg-6">
                        <div class="d-md-flex justify-content-md-end p-2">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                        <div class="p-5">
                            <div class="text-center">
                                <div class="mb-3">
                                    <img src="../assets/images/logo.svg" alt="logo" width="40%">
                                </div>
                                <h3>Hello Again</h3>
                                <p class="fs-6 fw-light mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            
                            <form>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Email address<span class="text-danger">*</span></label>
                                    <input type="email" class="form-control rounded-pill" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Password<span class="text-danger">*</span></label>
                                    <input type="password" class="form-control rounded-pill" id="exampleFormControlInput1" placeholder="">
                                </div>
                                
                                <div class="mb-3 text-center">
                                    <a href="#" class="">Forgot Your Password</a>
                                </div>
                               
                                <div class="mb-3 text-center">
                                  <button class="w-50 btn btn-primary rounded-pill" type="submit">Log in</button>
                                </div>
                                <div class="mb-3 text-center">
                                    <span>Don't have an accounr?</span><a href="#" class="">Sign Up</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div> -->
       
      </div>
    </div>
  </div>