<section class="container">
    <div class="row">
        <!-- first column -->
        <div class="col">
            <div class="row">
                <div class="col">
                   <img src="" alt="">
                </div>
                <div class="col">
                    <div>
                        <h1>Plumber<span>43 Opening</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- second column -->
        <div class="col">
              
        </div>
    </div>
</section>